<h1>Index Page</h1>

<form method="POST">
    <b>What best describes you?<br>
    </b>
    <input type="radio" name="question" value="a"> Loyal
    <br>
    <input type="radio" name="question" value="b"> Ambitious
    <br>
    <input type="radio" name="question" value="c"> Wild
    <br><br>

    <b>Water, fire, or earth?<br>
    </b>
    <input type="radio" name="question2" value="a"> Water
    <br>
    <input type="radio" name="question2" value="b"> Fire
    <br>
    <input type="radio" name="question2" value="c"> Earth
    <br><br>

    <b>Fire, blood, or thunder?<br>
    </b>
    <input type="radio" name="question3" value="a"> Fire
    <br>
    <input type="radio" name="question3" value="b"> Blood
    <br>
    <input type="radio" name="question3" value="c"> Thunder
    <br><br>
    
    <input type="submit" value="Submit it!">
</form>